@model Ohmium.Models.EFModels.RunProfile

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RunProfile</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.profileName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.profileName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.device)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.device.EqMfgID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.dCmd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.dCmd)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
