@model Ohmium.Models.EFModels.SQSite

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Site</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.org)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.org.OrgName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.reg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.reg.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.siteLat)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.siteLat)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.siteLng)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.siteLng)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.h2Production)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.h2Production)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.powerConsumption)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.powerConsumption)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.siteEfficiency)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.siteEfficiency)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
