@model IEnumerable<Ohmium.Models.EFModels.StackRunProfileTemplate>


<h3>Stack Run Profile Templates <i style="font-size:14px"> (@ViewBag.msg)</i></h3>

<p>
    <a asp-action="Create">Create New</a>
    <a asp-action='Index' asp-route-data="2" style="float:right" class="btn btn-warning">Inactive</a>
    <a asp-action='Index' style="float:right" class="btn btn-success">Active</a>

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.profile.profileName)
            </th>
@*            <th>
                @Html.DisplayNameFor(model => model.loop)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.command)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.profile.profileName)
            </td>
@*            <td>
                @Html.DisplayFor(modelItem => item.loop)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.command)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id"><i class="fa fa-edit text-warning"></i></a> |
                <a asp-action="Index" asp-controller="RunStepTemplates" asp-route-id="@item.id" title="Run Step Templates">RST</a> |
                <a asp-action="Delete" asp-controller="StackRunProfileTemplates" asp-route-id="@item.id"><i class="fa fa-trash text-danger"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
