@model Ohmium.Models.EFModels.SQStack

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stack</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sid.email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stackConfig)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stackConfig)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.device)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.device.EqMfgID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stackPosition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stackPosition)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.meaNum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.meaNum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.meaArea)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.meaArea)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sStatus.id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.stackMfgID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
