@model Ohmium.Models.EFModels.Org

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Org</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OrgName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OrgName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updatedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updatedOn)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.createdBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.createdBy)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.updatedBy)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.updatedBy)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.OrgID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
