@model Ohmium.Models.EFModels.StackPhaseSettingNew

@{
    ViewData["Title"] = "DeleteNew";
}

<h1>DeleteNew</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>StackPhaseSettingNew</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stk.stackMfgID)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phaseGroup)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phaseGroup)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SequenceListWithLoop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SequenceListWithLoop)
        </dd>
    </dl>
    
    <form asp-action="DeleteNew">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
