@model Ohmium.Models.EFModels.StackPhaseSetting

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>StackPhaseSetting</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stk)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stk.stackMfgID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.phase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.phase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.rsg)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.rsg.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.loop)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.loop)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
