@model IEnumerable<Ohmium.Models.EFModels.RunStepTemplate>


<h3>Run Step Templates <i style="font-size:14px">(@ViewBag.msg)</i></h3>

<p>
    <a asp-action="Create">Create New</a>
    @*<a asp-action='Index' asp-route-data="2" style="float:right" class="btn btn-warning">Inactive</a>
    <a asp-action='Index' style="float:right" class="btn btn-success">Active</a>*@

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.srp.name)
            </th>
            <th>
                @*  @Html.DisplayNameFor(model => model.testState)*@
                Sequence Name
            </th>
            <th>
                @Html.DisplayNameFor(model => model.stepNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sCmd)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cI)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cV)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.hP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wFt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.wTt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cVt)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cVl)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imA)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.imF)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.srp.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.rstg.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.stepNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sCmd)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.duration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cI)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.hP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wFt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.wTt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cVt)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.cVl)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.imA)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imF)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id"><i class="fa fa-edit text-warning"></i></a> |
                <a asp-action="Index" asp-controller="RunProfileTemplates" title="Run Profile Templates">RPT</a>
                <a asp-action="Delete" asp-route-id="@item.id"><i class="fa fa-trash text-danger"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
