@model Ohmium.Models.EFModels.RunStep

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>RunStep</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.srp)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.srp.id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.stepNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.stepNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.sCmd)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.sCmd)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.duration)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.duration)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cI)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cI)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cV)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cV)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hP)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hP)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wFt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wFt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wTt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wTt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.cVt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.cVt)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
